#cat-btn {
    margin-right: auto;
    font-size: 50px;
    background-color: #38E54D;
    border-color: white;
    border-radius: 15px;
    border: none;
}

#btn {
    text-align: center;
}

#cat-div {
    text-align: center;
    margin-top: 5px;
}

#description {
    text-align: center;
    color: black;
    font-size: 20px;
}

body {
    background-color: #EDE4E0;
}